.badge-container{
    position: relative;
    margin-top: 1rem;
    margin-left: 1rem;
}
.badge-container i{
    font-size: 2rem;
}
.badge{
    border-radius: 50%;
    position: absolute;
}
.badge-lg{
    width: 1.3rem;
    height: 1.3rem;
}
.badge-md{
    width: 1rem;
    height: 1rem;
}
.badge-sm{
    min-width: 0.8rem;
    height: 0.8rem;
}
.badge-xs{
    min-width: 0.6rem;
    height: 0.6rem;
}
.avatar-lg-size > .badge{
    
    bottom: 1rem;
    right: 1.3rem;
}
.avatar-md-size > .badge{
    bottom: 0.6rem;
    right: 1rem;
}
.avatar-sm-size > .badge{
    bottom: 0.3rem;
    right: 0.8rem;
}
.avatar-xs-size > .badge{
    bottom: 0.1rem;
    right: 0.6rem;
}
.badge-online{
    background-color: var(--dark-green);
}
.badge-offline{
    background-color: var(--light-red);
}
.badge-away{
    background-color: var(--dark-yellow);
}
.number-badge{
    position: absolute;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: max-content;
    padding: 0rem 0.1rem 0rem 0.1rem;
    background-color: var(--secondary-color);
    color: white;
    top: -0.1rem;
    right: -0.2rem;
}
.number-badge-large{
    font-size: 0.7rem;
    min-width: 1.5rem;
    height: 1.5rem;
}
.number-badge-medium{
    font-size: 0.6rem;
    min-width: 1.3rem;
    height: 1.3rem;
}
.number-badge-small{
    font-size: 0.5rem;
    min-width: 1.1rem;
    height: 1.1rem;
}
.img-responsive{
    max-inline-size: 100%;
    block-size: auto;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.img-round{
    border-radius: 50%;
}