@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

@import "./Components/navBar/navbar.css";

@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Quintessential&family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import"./Components/navBar/navbar.css";

@import"./Components/alert/alert.css";
@import "./Components/avatar/avatar.css";
@import "./Components/Badges/badges.css";
@import "./Components/Button/button.css";
@import "./Components/card/card.css";
@import "./Components/Image/image.css";
@import "./Components/Input/input.css";
@import "./Components/text/text.css";

:root{
    --secondary-color: white;
    --secondary-color-dark:rgb(2, 2, 44);
    --primary-color:blue;
    --primary-color-dark:rgb(12, 12, 65);
    --dark-green: #3ae751;
    --light-green: #16c72a;
    --light-red: red;
    --dark-red: #ad020d;
    --dark-yellow: yellow;
    --dark-green: #024f0c;
    --light-red: #d90715;
    --dark-red: #ad020d;
    --dark-yellow: #745817;
    --success-button: #28a745;
    --warning-button: #ffc107;
    --info-button: #e9f3f5;
    --black : black;
    --gray : gray;
}


body {
  background-color: var(--white);
  font-family: poppins;
  overflow-x: hidden;
  max-width: 2000px;
  margin: auto;
}

.flex-row{
  display: flex;
  flex-wrap: wrap;
}
.flex-row-center-vertical{
  align-items: center;
}
.flex-row-center-horizontal{
  justify-content: center;
}
.flex-row-center-horizontal-vertical{
  align-items: center;
  justify-content: center;
}
.flex-gap-1{
  gap: 1rem;
}
.flex-gap-2{
  gap: 2rem;
}
.flex-gap-3{
  gap: 3rem;
}
.center{
  margin: auto;
}
button{
  border: none;
}
.flex-column{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}



@media only screen and (max-width: 600px){
  *{
      font-size: 80%;
  }
}