@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import "./Components/navBar/navbar.css";
@import"./Components/alert/alert.css";
body {
  background-color: var(--white);
  font-family: poppins;
  overflow-x: hidden;
  max-width: 2000px;
  margin: auto;
}