*, *::before, *::after{
    box-sizing: border-box;
  }
  
  .container{
    display: flex;
    justify-content: center;
    align-items:center;
    background: #5653e7;
    position: relative;
    margin: 2rem 2rem 2rem 3rem;
    border-color: #000;
  }

  .image-container{
    height: 100%;
    max-height: 280px;
  }

  .card{
    width: 25rem;
    border-radius: 1rem;
    background: rgb(248, 246, 246);
    box-shadow: 4px 4px 15px 15px  rgba(26, 35, 126, 0.2);
    position : relative;
    color: #434343;
  }
  
  .card .card__container{
    padding : 2rem;
    width: 100%;
    height: 100%;
    background: white;
    border-radius: 1rem;
    border-color: black;
    position: relative;
  }
  
  .card .card__header{
    margin-bottom: 1rem;
    font-family: 'Playfair Display', serif;
  }
  
  .card .card__body{
    font-family: 'Roboto', sans-serif;
  }
  
 
  /* dismiss */
  
  .dismiss { position: relative;
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    box-shadow: 4px 4px 15px 15px  rgba(26, 35, 126, 0.2);
    margin: 2rem 2rem 2rem 2rem;
  }

.dismiss .close { position: absolute;
     top: 20px; 
     right: 30px;
     transition: all 200ms;
    font-size: 30px; 
    font-weight: bold; 
    text-decoration: none; 
    color: #333; 
}

.dismiss .close:hover { color: orange; }
.dismiss .content     { max-height: 30%; overflow: auto;}


/* overlay */

/* Container holding the image and the text */
.txt-overlay-container {
    margin: 70px auto;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    box-shadow: 4px 4px 15px 15px  rgba(26, 35, 126, 0.2);
    margin: 2rem 2rem 2rem 2rem;
    position: relative;
    text-align: center;
    color: white;
  }

  .overlay-text-img{
      width: 100%;
      height: 100%;
      max-inline-size: 100%;

  }
  
  /* Bottom left text */
  .bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
  }
  
  /* Top left text */
  .top-left {
    position: absolute;
    top: 8px;
    left: 16px;
  }
  
  /* Top right text */
  .top-right {
    position: absolute;
    top: 8px;
    right: 16px;
  }
  
  /* Bottom right text */
  .bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
  }
  
  /* Centered text */
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }


  /* horizontal  */

  .text-container{
      margin-top: 1rem;
      align-items: center;
  }
  .product-name-text{
      font-size: 1.5em;
      font-family: roboto;
      font-weight: bold;

  }

  .price-font{
      font-family: poppins;
      font-size: 1.5em;
      justify-content: space-around;
  }

  .discount-font{
    margin-right: 0.5rem;
  }
  .discount-percent{
      color: var(--dark-green);
  }

  

  .cardhori{
    position: relative;
    background-color: #ffffff;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: 2rem 2rem 2rem 2rem;
}
    .card-horizontal{
        display: grid;
        grid-template-columns: auto auto;
        max-width: 55rem;
        padding: 1rem;
    }
    .card-horizontal .image-container{
        grid-column-start: 1;
        grid-column-end: 2;
    }
    .card-horizontal .wrapper{
        margin-left: 2rem;
        margin-top: 1rem;
        grid-column-start: 2;
        grid-column-end: 3;
    }
    .card-horizontal .text-container h5{
        margin: 0rem;
    }
    .card-horizontal .text-container :nth-child(4){
        margin: 0.6rem 0rem 0.1rem 0rem;
    }
    .btn-container{
        display: flex;
        flex-wrap: wrap;
        max-width: 36rem;
        margin-top: 0.8rem;
    }
    .btn-container button{
        margin: 0.8rem 1rem 0.8rem 0px;
    }
    .discount-percent-horizontal{
        margin-left: 0.2rem;
    }


    /* vertical  */

    .cardv{
        position: relative;
        max-width: 25rem;
        width: 100%;
        height: 27rem;
        box-shadow: 0px 15px 30px rgba(0,0,0,0.2);
        font-family: Verdana;
        text-align: center;
        overflow: hidden;
        margin: 2rem 2rem 2rem 2rem;
        border-radius: 1rem;
    }

    .cardv .img-wrapper{
        height: 100%;
        max-height: 16rem;
        width: 100%;
        position: relative;
       
    }

    .title{
        margin: 5px 0 20px 0;
    }

    .content-wrapper{
        margin-top: 7rem;
    }
    .card-vertical-like-icon{
        position: absolute;
        vertical-align: middle;
    	display: inline-block;
        top: 0.5rem;
        right: 0.5rem;
        color: white;
        font-size: 8em;
    }
    
    