.avatar{
    border-radius: 50%;
    margin-left: 1rem;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.avatar-lg-size{
    width: 13rem;
    height: 13rem;
    font-size: 4rem;
}
.avatar-md-size{
    width: 9rem;
    height: 9rem;
    font-size: 2.5rem;
}

.avatar-sm-size{
    width: 6rem;
    height: 6rem;
    font-size: 1.3rem;
}
.avatar-xs-size{
    width: 4rem;
    height: 4rem;
    font-size: 0.8rem;
}
.avatar2 {
    margin-bottom: 1.8rem;
   }
   .avatar3{
       margin-bottom: 2.2rem;
   }
   .avatar4{
       margin-bottom: 2.9rem;
   }
.avatar-text{
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: var(--secondary-color); */
    color: white;
}

